@font-face {
   font-family: DiaryOfAn8BitMage-lYDD;
   src: url(DiaryOfAn8BitMage-lYDD.ttf);
}

body {
    font-family: DiaryOfAn8BitMage-lYDD, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-bg-hover);
}

.toggle-icon {
    cursor: pointer;
    width: 24px;
    height: auto;
}

/* Светлая тема */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a0dab;
    --button-bg: #e0e0e0;
    --button-text: #000000;
    --button-bg-hover: #d5d5d5;
}

/* Темная тема */
body.dark-theme {
    --bg-color: #03050A;
    --text-color: #ffffff;
    --link-color: #8ab4f8;
    --button-bg: #333333;
    --button-text: #ffffff;
    --button-bg-hover: #444444;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    button {
        padding: 6px;
    }
}
