header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    margin-right: auto;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

img {
    padding-right: 5vh;
}

.header-toggle img {
    cursor: pointer;
}

header a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
